{% extends 'padre.html' %}

{% block contenidoQueCambia %}
<h1>Un poco acerca de mi y del proyecto.</h1>

    <p>Hola, Soy Alexis, estudio Python en CoderHouse, este es mi proyecto final. <br>
        Te cuento que elegi seguir desarrollando la entrega anterior para esta etapa. <br>
        El proyecto consiste en una página web, que tiene Login de usuarios, podes crear, editar y eliminar usuarios, <br>
        Agregar un avatar al usuario logueado.

    </p>        
{% endblock contenidoQueCambia %}