<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'Pag_Cliente' %}">Clientes</a>
        <a class="navbar-brand" href="{% url 'Pag_ClienteForm' %}">Agregar cliente</a>
        <a class="navbar-brand" href="{% url 'Pag_Productos' %}">Productos</a>
        <a class="navbar-brand" href="{% url 'Pag_Proveedores' %}">Proveedores</a>
        <a class="navbar-brand" href="{% url 'Lista_Clientes' %}">Lista clientes</a>
        <a class="btn btn-primary" href="#signup">Sign Up</a>
    </div>
</nav>